<section id="find-me">
  <h2>Find Me</h2>

  <h3>Summer 2016:</h3>
  <ul>
    <li>Sept 23: <a href="http://www.bryantpark.org/plan-your-visit/squaredance.html">Bryant Park Square Dance</a>! (Bryant Park, Manhattan)</li>
    <li>Sept 24: <a href="http://www.hesterstreetfair.com/">Hester Street Fair</a>! (Corner of Hester and Essex Streets, Lower East Side)</li>
    <li>Oct 1-2: <a href="http://artmartbk.com/">ArtMart</a>! (395 Johnson Avenue)</li>
  </ul>
  <h3>Previously</h3>
  <ul>
    <li>Artists and Fleas in Williamsburg</li>
    <li>Bay Ridge Summer Stroll</li>
    <li>Brooklyn Makers Market</li>
    <li>Brooklyn Ice Cream Takedown</li>
    <li>Bushwick Flea</li>
    <li>Bushwick Rock n Shop</li>
    <li>Grub Street Beats and Eats</li>
    <li>Hester Street Fair</li>
    <li>Bryant Park Accordion Band Festival</li>
  </ul>

  <p>New dates and locations coming soon!</p>
</section>
