<section id="find-me">
  <h2>Find Me</h2>

    <li>Nov 25-Dec 24: <a href="http://www.hesterstreetfair.com/events/hester-street-fair-holiday-market/">Hester Street Fair Holiday Market at the Seaport</a>! (Seaport District, Lower Manhattan)</li>
   
 
  <h3>Previously</h3>
  <ul>
    <li>Hester Street Fair</li>
    <li>Artists & Fleas</li>
    <li>Grub Street Beats and Eats</li>
    <li>Bryant Park</li>
    <li>Bay Ridge Summer Stroll</li>
    <li>Brooklyn Makers Market</li>
    <li>Brooklyn Ice Cream Takedown</li>
    <li>Bushwick Flea</li>
    <li>Bushwick Rock n Shop</li>
    <li>ArtMart</li>
  </ul>

  <p>New dates and locations coming soon!</p>
</section>
