<section id="find-me">
  <h2>Find Me</h2>

  <h3>Summer 2016:</h3>
  <ul>
    <li>May 28: <a href="http://www.artistsandfleas.com/">Artists & Fleas in Williamsburg</a>! (70 North 7th Street)</li>
    <li>June 4: <a href="http://www.artistsandfleas.com/">Artists & Fleas in Williamsburg</a>! (70 North 7th Street)</li>
    <li>July 9: <a href="http://www.hesterstreetfair.com/#!hester-street-fair/c3rn">Hester Street Fair on the Lower East Side</a>! (Corner of Hester and Essex Streets)</li>
    <li>July 16: <a href="http://www.hesterstreetfair.com/#!hester-street-fair/c3rn">Hester Street Fair on the Lower East Side</a>! (Corner of Hester and Essex Streets)</li>
    <li>August 6: <a href="http://www.hesterstreetfair.com/#!hester-street-fair/c3rn">Hester Street Fair on the Lower East Side</a>! (Corner of Hester and Essex Streets)</li>
    <li>August 20: <a href="http://www.hesterstreetfair.com/#!hester-street-fair/c3rn">Hester Street Fair on the Lower East Side</a>! (Corner of Hester and Essex Streets)</li>
  </ul>
  <h3>Previously</h3>
  <ul>
    <li>Bushwick Flea</li>
    <li>Bay Ridge Summer Stroll</li>
    <li>Bushwick Rock & Shop</li>
  </ul>

  <p>New dates and locations coming soon!</p>
</section>
