<section id="orders">
  <h2>Orders & Catering</h2>
  <p>Having a birthday or special event? Looking to plan a celebration for your startup or company? Enjoy it with some ice cream!</p>
  <p>Please email me at <a href="mailto:jrocksicecreams@gmail.com">jrocksicecreams@gmail.com</a> about your party and estimated number of people and we will develop a custom package for your event.</p>
  <p>We specialize in creating unique flavors — have an idea for a themed ice cream flavor for your event? Let’s talk about it!</p>
</section>
