<section id="seen-at">
  <h2>Seen At</h2>

  <h3>Summer 2016:</h3>
  <ul>
    <li>April 23: <a href="http://rocknshop.nyc/about/">Rock N Shop in Bushwick</a>! (The Paper Box, 17 Meadow Street)</li>
    <li>May 28: <a href="http://www.artistsandfleas.com/">Artists & Fleas in Williamsburg</a>! (70 North 7th Street)</li>
    <li>June 4: <a href="http://www.artistsandfleas.com/">Artists & Fleas in Williamsburg</a>! (70 North 7th Street)</li>
  </ul>
  <h3>Summer 2015:</h3>
  <ul>
    <li>Bushwick Flea</li>
    <li>Bay Ridge Summer Stroll</li>
  </ul>

  <p>New dates and locations coming soon!</p>
</section>
